.listmain {
    overflow: hidden;
    padding-bottom: 1px;
    margin: 5px auto 20px;
    background: #F6F4EC;
    border-radius: 15px;
}

.listmain dt {
    background: none repeat scroll 0 0 rgba(214, 212, 200, 0.89);
    display: inline;
    float: left;
    font-size: 14px;
    line-height: 28px;
    overflow: hidden;
    text-align: center;
    vertical-align: middle;
    width: 100%;
    margin: auto auto 5px;
    padding: 5px 10px;
}

.listmain dd {
    border-bottom: 1px dashed #CCC;
    display: inline;
    float: left;
    height: 25px;
    line-height: 200%;
    margin-bottom: 5px;
    text-align: left;
    text-indent: 10px;
    vertical-align: middle;
    width: 26%;
    font-size: 15px;
    margin-left: 5%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.listmain dd a {
    cursor: pointer;
    color: #337ab7;
    text-decoration: none;
    background-color: transparent;
}