.container {
    z-index: 999;
}

.container .tittle {
    background-color: #337ab7;
    color: #ffffff;
    height: 50px;
}

.container .label {
    padding-bottom: .2em;
}

.container .tittle div {
    text-align: center;
}

.container .tittle .middleSide h4 {
    line-height: 30px;
}

#wrapper .nav li span {
    color: #ffffff;
}

#wrapper .nav .user i {
    background-color: #FF0000;
}

#wrapper .nav .bookShelf i {
    background-color: #FFCC00;
}

#wrapper .nav .search i {
    background-color: #FF6600;
}

#wrapper .nav .signal i {
    background-color: #66CC00;
}

#wrapper .nav .config i {
    background-color: #33CCFF;
}

#wrapper .nav i {
    margin-right: 10px;
}
#sidebar-wrapper ul {
    margin-top: 50px;
}
#sidebar-wrapper ul li{
    border-bottom: 1px solid #0f0f0f;
}
#sidebar-wrapper ul li span{
    color: #dddddd;
    display: block;
    padding: 8px 15px 8px 30px;
    text-decoration: none;
}
#sidebar-wrapper ul li span i {
    padding: 5px;
}