.container #content{
    margin-top: 20%;
}
.thumbnail {
    border: #ffffff;
}
.thumbnail .caption{
    padding: 0px;
}
.thumbnail .caption span{
    display: inline-block;
    padding: 0px 8px;
}
/*#searchList h4,#searchList span {*/
    /*cursor: pointer;*/
/*}*/
H4{
    display: inline-block;
    padding-right: 10px;
    cursor: pointer;
}
/*.text-primary{*/
    /*cursor: pointer;*/
/*}*/