.container #content {
    margin-top: 20%;
}

.thumbnail {
    border: #ffffff;
}

.thumbnail .caption {
    padding: 0px;
}

.thumbnail .caption span {
    display: inline-block;
    padding: 0px 8px;
}

/*#searchList h4,#searchList span {*/
/*cursor: pointer;*/
/*}*/
H4 {
    display: inline-block;
    padding-right: 10px;
    cursor: pointer;
}

.navbar {
    text-align: center;
    height: 1%;
}

.container-fluid {
    display: inline-block;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.navbar-nav {
    width: 100%;
    height: 100%;
    margin: 0;
    letter-spacing: -5px;
}

.navbar-nav li {
    width: 25%;
    height: 100%;
    display: inline-block;
    letter-spacing: normal;
}
.navbar-nav li a {
    display: inline-block;
    height: 100%;
    width: 100%;
    padding-bottom: 15px;
    padding-top: 15px;
}
/*.text-primary{*/
/*cursor: pointer;*/
/*}*/