.search {
    background-color: #FFFFFF;
    padding-top: 5px;
}

.search-callback {
    padding: 7px 5px 5px 18px;
}

.search #searchList {
    border-bottom: 1px solid #EEEEEE;
    background-color: #FFFFFF;
}

.search #searchList {
    padding-left: -15px;
}

.search #searchList > div {
    margin: 10px auto 10px;
}

.search #searchList img {
    width: 50px;
    height: 60px;
}

.search #searchList .star {
    /*height: 30px;*/
    /*line-height: 30px;*/
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.search #searchList .star {
    color: #BBBBBB;
    font-size: 0.8em;
}
.none {
    display: none;
}