<link rel="stylesheet" href="css/bookShelf.css">
<script type="text/javascript" src="js/bookShelf.js"></script>
<div class="row book">
    <div class="col-xs-2 col-md-2">
        <img src="https://www.bqg99.cc/bookimages/2640967.jpg">
    </div>
    <div class="col-xs-10 col-md-10 content">
        <div class="col-xs-12 col-md-12 bookName">
            <span>牧神记</span>
            <span class="label label-primary">更新</span>
        </div>
        <div class="col-xs-12 col-md-12 star">
            <span>16小时前更新:第五百七十章 小时数最从容</span>
        </div>
    </div>
</div>
<div class="row addBook">
    <div class="col-xs-12 col-md-12">
        <span class="glyphicon glyphicon-plus-sign"></span>
        <span>添加你喜欢的小说</span>
    </div>
</div>