<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/content.css" rel="stylesheet">
    <!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
    <!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>

    <!--<script type="text/javascript" src="js/content.js"></script>-->
</head>
<body>
<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <!--<div class="navbar-header">-->
            <!--<a class="navbar-brand" href="#">菜鸟教程</a>-->
        <!--</div>-->
        <div>
            <!--<form class="search" role="search">-->
                <div class="search">
                    <input type="text" class="search-input" placeholder="搜索...">
                </div>
                <!--<button type="submit" class="btn btn-default">提交按钮</button>-->
            <!--</form>-->
            <button type="button" class="btn btn-danger navbar-btn">
                登陆
            </button>
        </div>
    </div>
</nav>
<!--内容区域-->
<div class="container">
    <div class="row">
        <div class="content-title" >
            <h2 class="title" th:text="${content.title}"></h2>
        </div>
        <div class="content-book" th:utext="${content.content}"></div>
        <div class="content-pre" th:utext="${content.pre}+${content.next}" >
            <!--<a class="btn btn-default"></a>-->
            <!--<a class="btn btn-default"></a>-->
        </div>
        <!--<div class="content-next" th:utext="${content.next}"></div>-->
    </div>
</div>
</body>
</html>