<link rel="stylesheet" href="css/search.css">
<script type="text/javascript" src="js/search.js"></script>
<div class="search">
        <div id="search-tittle" class="row">
            <div class="col-xs-1 col-md-1 search-callback">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </div>
            <div class="col-xs-11 col-md-11">
                <div class="input-group">
                    <input type="text" class="form-control search-val">
                    <span class="input-group-btn">
                        <button class="btn btn-primary search-search" type="button">搜索</button>
                    </span>
                </div>
            </div>
            <button type="button" class="btn btn-primary none" data-toggle="collapse"
                    data-target="#searchList">
                简单的可折叠组件
            </button>
        </div>
    <div id="search-content" class="row">
        <div id="searchList" class="collapse">
            <!--<div class="row">-->
            <!--没有搜索到数据-->
            <!--</div>-->
        </div>
        <!--<div>-->
            <!--Nihil anim keffiyeh helvetica, craft beer labore wes anderson-->
            <!--cred nesciunt sapiente ea proident. Ad vegan excepteur butcher-->
            <!--vice lomo.-->
        <!--</div>-->
    </div>
</div>
<!--<div class="row addBook">-->
<!--<div class="col-xs-12 col-md-12">-->
<!--<span class="glyphicon glyphicon-plus-sign"></span>-->
<!--<span>添加你喜欢的小说</span>-->
<!--</div>-->
<!--</div>-->